.create-post-user-details {
    display: grid;
    grid-template-columns: 56px auto;
    column-gap: 20px;
}

textarea {
    width: 100%;
    height: 256px;
    resize: none;
    background-color: var(--color-blue5);
    border-radius: 8px;
    padding: 16px;
}
