body {
	background: var(--color-blue);
	padding: 32px;
}

.login {
	background: white;
	margin: 0 auto;
	max-width: 644px;
	padding: 24px;
	border-radius: 8px;
}

.login-logo {
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid var(--color-grey);
	text-align: center;
}
