.menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.menu ul {
	width: 392px;
	left: 100%;
	top: 0;
	background: white;
	border-radius: 8px;
	border: 1px #e6ebf5 solid;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	padding: 8px 0;
}
.menu ul ul {
	position: absolute;
	top: -8px;
}
.menu li {
	position: relative;
}
.menu li a {
	display: grid;
	grid-template-columns: 40px auto;
	gap: 20px;
	align-items: center;
	padding: 16px 28px;
	text-decoration: none;
}
.menu li a svg {
	justify-self: center;
}
.menu li a p {
	color: var(--color-blue1);
	font-size: 18px;
	line-height: 24px;
}
.menu li a svg path {
	fill: var(--color-blue1);
}
.menu li a svg:nth-of-type(2) {
	position: absolute;
	top: 50%;
	right: 26px;
	transform: translateY(-50%);
	fill: var(--color-blue);
}
.menu li > ul {
	display: none;
}
.menu li:hover {
	background: var(--color-blue7);
}
.menu li:hover > a > p {
	color: var(--color-blue);
}
.menu li:hover > a > svg {
	fill: var(--color-blue);
}
.menu li:hover > a > svg path {
	fill: var(--color-blue);
}
.menu li:hover > ul {
	display: block;
}
