.create-post-input {
	display: grid;
	grid-template-columns: 70px auto;
}

.create-post-input button {
	color: var(--color-blue1);
	font-size: 1rem !important;
	padding-left: 15px !important;
	text-align: left !important;
	max-width: 100% !important;
	background-color: var(--color-blue5);
}
