.verify-card {
	max-width: 533px;
	width: 100%;
	padding: 24px 24px 32px 24px;
	display: grid;
	grid-template: auto auto;
	gap: 24px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 568px) {
	.verify-card-buttons button:not(:last-of-type) {
		margin-bottom: 24px;
	}
}
@media only screen and (min-width: 568px) {
	.verify-card-buttons button:not(:last-of-type) {
		margin-right: 24px;
	}
}
