.toast {
	display: grid;
	padding: 8px 20px;
	grid-template-columns: 40px 1fr auto;
	gap: 12px;
	align-items: center;
	max-width: 310px;
	width: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}
.toast a {
	text-decoration: none;
}
