/* button or link styling */
button,
.button {
	cursor: pointer;
	background: none;
	text-decoration: none;
	display: inline-block;
}
button:disabled {
    cursor: not-allowed !important;
}
button:disabled:hover {
    background-color: var(--color-offwhite) !important;
    color: var(--color-blue1) !important;
}
button:not(.formbutton):not(.socialbutton),
.button {
	font-family: "Lexend";
	font-weight: normal;
	padding: 14px 24px;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	border-radius: 8px;
	width: 100%;
	max-width: none;
	transition: all 0.3s ease;
	cursor: pointer;
}

@media only screen and (min-width: 568px) {
	button:not(.formbutton):not(.socialbutton):not(.width-full),
	.button:not(.formbutton):not(.socialbutton):not(.width-full) {
		max-width: 200px;
	}
}

button.green,
.button.green {
	background-color: var(--color-green);
	color: var(--color-blue);
}
button.green:hover,
.button.green:hover,
button.green:focus,
.button.green:focus {
	background-color: var(--color-blue);
	color: white;
}
button.offwhite,
.button.offwhite {
	background-color: var(--color-offwhite);
	color: var(--color-blue1);
}
button.offwhite:hover,
.button.offwhite:hover,
button.offwhite:focus,
.button.offwhite:focus {
	background-color: var(--color-blue);
	color: white;
}
button.blue,
.button.blue {
    background-color: var(--color-blue);
	color: white;
}
button.blue:hover,
.button.blue:hover,
button.blue:focus,
.button.blue:focus {
    background-color: var(--color-offwhite);
	color: var(--color-blue1);
}