/* button or link styling */
button {
	cursor: pointer;
}
button:not(.formbutton),
.button {
	font-family: "Lexend";
	font-weight: normal;
	padding: 14px 24px;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	border-radius: 8px;
	width: 100%;
	max-width: none;
	transition: all 0.3s ease;
	cursor: pointer;
}

@media only screen and (min-width: 568px) {
	button:not(.width-full) {
		max-width: 200px;
	}
}

button.green,
.button.green {
	background-color: var(--color-green);
	color: var(--color-blue);
}
button.green:hover,
.button.green:hover,
button.green:focus,
.button.green:focus {
	background-color: var(--color-blue);
	color: white;
}
button.offwhite,
.button.offwhite {
	background-color: var(--color-offwhite);
	color: var(--color-blue1);
}
button.offwhite:hover,
.button.offwhite:hover,
button.offwhite:focus,
.button.offwhite:focus {
	background-color: var(--color-blue);
	color: white;
}
