form input {
	background: var(--color-blue5);
	border: 1px solid var(--color-blue2);
	border-radius: 8px;
	padding: 16px;
	font-size: 18px;
	line-height: 1.33;
	width: 100%;
}

form label {
	color: var(--color-blue1);
	line-height: 1.5;
	margin-bottom: 2px;
	padding-left: 15px;
}
