header {
	grid-column: span 3;
	display: grid;
	grid-template-columns: 1fr 50px;
	background-color: var(--color-blue);
	padding: 20px 64px;
}

header .profile-icon {
	cursor: pointer;
}

header .user-panel {
	position: absolute;
	right: 60px;
	top: 85px;
	z-index: 1;
	width: 533px;
}
