/* heading styling */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	font-weight: 600;
	color: var(--color-blue);
}
h1,
.h1 {
	font-size: 48px;
	line-height: 56px;
}
h2,
.h2 {
	font-size: 40px;
	line-height: 48px;
}
h3,
.h3 {
	font-size: 32px;
	line-height: 40px;
}
h4,
.h4 {
	font-size: 24px;
	line-height: 32px;
}

/* text styling */
p {
	font-size: 1rem;
	line-height: 1.5;
}
.text-medium {
	font-size: 18px;
}
.text-large {
	font-size: 20px;
	line-height: 28px;
}
