.card {
	background: white;
	padding: 24px 24px 40px 24px;
	border-radius: 8px;
	width: 100%;
    margin-bottom: 25px;
    border: 1px #E6EBF5 solid;
}

.card-shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}