.card {
	background: white;
	padding: 24px;
	border-radius: 8px;
	width: 100%;
	margin-bottom: 25px;
	border: 1px var(--color-blue5) solid;
}

.card-shadow {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
