.credentials {
	background: white;
	max-width: 644px;
	padding: 24px 24px 40px 24px;
	border-radius: 8px;
	width: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.credentials-title {
	margin-bottom: 32px;
}
.credentials-logo {
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid var(--color-blue5);
	text-align: center;
}

.credentials-sociallinks {
	text-align: center;
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid var(--color-blue5);
}
.credentials-sociallinks p {
	margin-bottom: 16px;
	color: var(--color-blue1);
}
.credentials-sociallinks-links {
	display: grid;
	grid-template-columns: repeat(auto-fit, 56px);
	gap: 24px;
	justify-content: center;
	align-items: center;
}

.credentials-altbutton {
	text-align: center;
}
.credentials-altbutton p {
	margin-bottom: 24px;
	color: var(--color-blue1);
}
@media only screen and (min-width: 568px) {
	.credentials-altbutton {
		text-align: left;
	}
}
