.modal-body {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    row-gap: 20px;
}

.modal-header {
    display: grid;
    grid-template-columns: 1fr 30px;
    padding-bottom: 20px;
}

.modal-content {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    row-gap: 20px;
}

* {
    font-family: "Lexend";
	src: local("Lexend Regular"), local("Lexend-Regular"),
		url("../../fonts/Lexend-VariableFont_wght.ttf") format("truetype");
	font-weight: 300 900;
	font-style: normal;
	font-display: swap;
}