.user-panel-options {
	margin-top: 20px;
}

.user-panel-options ul li a {
	display: grid;
	grid-template-columns: 56px 1fr;
	margin-top: 20px;
	text-decoration: none;
}

.user-panel-options ul li p {
	line-height: 2.5;
}
