.welcome-titleblock {
	margin-bottom: 32px;
}
.welcome-titleblock h1 {
	margin-bottom: 16px;
}
.welcome-cardheader h2 {
	margin-bottom: 16px;
}
.welcome-cardheader p {
	margin-bottom: 24px;
}
.welcome-steps {
	margin-bottom: 24px;
}
.welcome-formheader h3 {
	margin-bottom: 32px;
}
.welcome-form-profileimg-input {
	display: grid;
	grid-template-columns: 40px auto;
	gap: 16px;
	align-items: center;
}
.welcome-form-profileimg-error {
	color: transparent;
}
.welcome-form-inputs {
	display: grid;
	grid-template-rows: repeat(auto, auto);
	gap: 58px;
	margin-bottom: 48px;
}
.welcome-form-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	justify-content: space-between;
}
.welcome-form-buttons button:nth-of-type(2) {
	justify-self: end;
}
.welcome-form-popup-wrapper {
	width: 470px;
	max-width: 100%;
}
.welcome-form-popup {
	display: grid;
	grid-template-rows: repeat(auto, auto);
	gap: 24px;
}
.welcome-form-popup-buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
}
