.steps {
	position: relative;
	padding: 16px;
	display: grid;
	grid-template-columns: 40px 40px 40px 40px;
	justify-content: space-between;
	z-index: 1;
	border-top: 1px solid var(--color-blue5);
	border-bottom: 1px solid var(--color-blue5);
    margin-bottom: 20px;
}
.steps:before {
	content: "";
	position: absolute;
	left: 36px;
	top: 50%;
	right: 36px;
	transform: translatey(-50%);
	background: var(--color-blue2);
	height: 2px;
	z-index: -1;
}
.steps-number {
	height: 40px;
	width: 40px;
	display: grid;
	grid-template: 1fr / 1fr;
	justify-items: center;
	align-items: center;
	border-radius: 100%;
	background: var(--color-blue2);
	color: white;
}
.steps-number.active {
	background: var(--color-blue);
}
@media only screen and (min-width: 568px) {
	.steps {
		padding: 16px 46px;
	}
	.steps:before {
		left: 66px;
		right: 66px;
	}
}
