.post {
    display: grid;
    row-gap: 20px;
}

#post-details {
    display: grid;
    grid-template-columns: 56px auto 48px;
    column-gap: 20px;
}

.post-user-name {
    padding-top: 4px;
}

.post-user-name p {
    font-weight: 600;
    font-size: 1.1rem;
}

.post-user-name small {
    color: #64648C;
}

.profile-icon {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    text-align: center;
    background: #5ABEDC;
}

.profile-icon p {
    line-height: 56px;
    font-size: 1.2rem;
    font-weight: 400;
}

.edit-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #F0F5FA;
}

.edit-icon p {
    text-align: center;
    font-size: 20px;
}

.post-interactions-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px 10px;
}

.post-interactions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.post-interactions-container p {
    text-align: right;
}