.loadingscreen {
	min-height: 100vh;
	display: grid;
	grid-template: 1fr / 1fr;
	align-items: center;
	justify-items: center;
	padding: 30px;
}
.loadingscreen svg {
	max-width: 100%;
}
.loadingscreen-loader {
	position: relative;
	background: rgba(0, 0, 70, 0.1);
	width: 100%;
	height: 4px;
	margin: 40px auto 0 auto;
	max-width: 300px;
}
@media only screen and (min-width: 568px) {
	.loadingscreen-loader {
		margin: 80px auto 0 auto;
		height: 8px;
	}
}

.loadingscreen-loader span {
	position: absolute;
	width: 25%;
	height: 100%;
	left: 0;
	top: 0;
	background: var(--color-blue);
	animation: moveLoader 1.8s cubic-bezier(0.6, 0, 0.24, 1) normal infinite;
}

@keyframes moveLoader {
	0%,
	100% {
		left: 75%;
	}
	50% {
		left: 0%;
	}
}
