/* fonts here */
@font-face {
	font-family: "Lexend";
	src: local("Lexend Regular"), local("Lexend-Regular"),
		url("./fonts/Lexend-VariableFont_wght.ttf") format("truetype");
	font-weight: 300 900;
	font-style: normal;
	font-display: swap;
}

/* variables */
:root {
	--color-blue: #000046;
	--color-green: #64dc78;
	--color-offwhite: #f0f5fa;
	--color-grey: #e6ebf5;
}
.bg-blue {
	background-color: var(--color-blue);
}
.bg-green {
	background-color: var(--color-green);
}
.bg-offwhite {
	background-color: var(--color-offwhite);
}
.bg-grey {
	background-color: var(--color-grey);
}
.bg-white {
	background-color: white;
}

.text-blue {
	color: var(--color-blue);
}
.text-green {
	color: var(--color-green);
}
.text-offwhite {
	color: var(--color-offwhite);
}
.text-grey {
	color: var(--color-grey);
}
.text-white {
	color: white;
}

/* global settings here, resetting a lot of defaults */
body {
	margin: 0;
	padding: 0;
	font-family: "Lexend", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
	margin: 0;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	border-width: 0;
	border-style: solid;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* global classes to reuse */
.mx-auto {
	margin: 0 auto;
}
.boxshadow {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.font-normal {
	font-weight: normal;
}
.width-full {
	width: 100%;
}

/* headings */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	font-weight: 600;
}
h1,
.h1 {
	font-size: 48px;
	line-height: 56px;
	color: #000000;
}
h2,
.h2 {
	font-size: 40px;
	line-height: 48px;
	color: #000000;
}
h3,
.h3 {
	font-size: 32px;
	line-height: 40px;
	color: #000046;
}
h4,
.h4 {
	font-size: 24px;
	line-height: 32px;
	color: #000000;
}

button {
	font-family: "Lexend";
	font-weight: normal;
	padding: 14px 24px;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	border-radius: 8px;
}
